---
---
@import "{{ site.theme }}";
.page-header{
background-color: #4a148c;
background-image: linear-gradient(120deg,#c2185b,#4a148c);  
}
a{
  color: #4a148c;
}
h2{
  color: #4a148c;
}
h3{
  color: #4a148c;
}
#my-title{
display: none;
}
footer {
visibility:hidden;
}

// Remove padding
@media (min-width: 70em) {
.main-content{
padding: 0; 
max-width: 90rem;
}
}
